:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --light: #f4f4fd;
  --text: #434455;
  --white: #ffffff;
  --pressed-state: #404bbf;
}

/* General */

body {
  color: var(--text);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--white);
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/* Head */
.nav-anchor {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
}

.nav-anchor:hover,
.nav-anchor:active,
.nav-anchor:focus {
  color: var(--pressed-state);
}

.contact {
  text-decoration: none;
  color: var(--text);
}

.contact:hover,
.contact:active,
.contact:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--primary-brand);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.studio-head {
  font-family: "Raleway", sans-serif;
  color: var(--dark);
}

/* Main header */
.effective-solutions {
  background-color: var(--dark);
  color: var(--white);
}

button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover,
button:focus {
  background-color: var(--pressed-state);
}

/* 2nd header Our Team */

.our-team {
  background-color: var(--light);
}

.team-photo {
  background-color: var(--white);
}

/* Footer */
footer {
  background-color: var(--dark);
}

.text.bottom {
  color: var(--light);
}

.studio-footer {
  font-family: "Raleway", sans-serif;
  color: var(--light);
}
